.uploads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forms{
    height: 400px;
    width: 550px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0px 0px 20px 0px white;
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
    overflow-y: scroll;
}

label{
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 0px;
  }

  .Explore{
    width: 250px;
    height: 250px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: rgba(255,255,255,0.9);
    border-radius: 50%;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
    position: absolute;
     margin-left: 300px;
     margin-top: 100px;
     z-index: -1;
     filter: blur(100px);
     opacity: 0.8;
}
@keyframes anime{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
} 