.Profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 5px;
}
.bods{
    height: 50px;
    width: 250px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.bods p{
    margin-top: 1rem;
    font-size: large;
    font-weight: bolder;
}

.History{
    height: 350px;
    width: 450px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bods_item{
    height: 50px;
    width: 350px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.bods_item p{
    margin-top: 1rem;
    font-weight: bolder;
    position: relative;
    right: 11rem;
}

p.file_name{
    white-space: nowrap; 
    overflow: hidden;
    margin-top: 1rem;
    font-weight: bolder;
    position: relative;
    left: 9rem;
    width: 9rem;
    text-overflow: ellipsis;
}

a{
    text-decoration: none !important;
}

.userProfile{
    width: 50%;
    border: 2px solid black;
    border-radius: 30px;
}

.profilePic{
    border-radius: 100%;
}

.green{
    background-color: lightgreen;    
}

.red{
    background-color: lightcoral;
}

.yellow{
    background-color: rgb(234, 234, 117);   
}

.blue{
    background-color: lightblue;
}